@import url('https://fonts.googleapis.com/css2?family=TikTok+Sans:opsz,wght@12..36,300..900&display=swap');

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    text-decoration: none;
}


body{
    font-family: 'TikTok', sans-serif;
    background-color: rgb(209, 210, 219);

        .titulo{
        color: rgb(255, 243, 252);
        /*background-color: rgb(8, 15, 80);*/
        font-size:60px;
        text-align: center;
        }

        .año{
        color: rgb(255, 243, 252);
        font-size: 20px;
        text-align: center;
        }

        .autorías h2 span {
        text-align: center;
        margin-right: 300px; /* ajusta el espacio que quieras entre nombres */
        display: inline-block;
        }

        .autores{
        color: rgb(168, 184, 127);
        text-align: center;
        }

        .autorías{
        color: rgb(168, 184, 127);
        text-align: center;
        }

        .descripción {
        color: bisque;
        max-width: 1000px;
        margin: 0 auto;
        padding: 0 20px;
        text-align: center;
        }

        .proceso{
        color: rgb(245, 130, 46);
        } 
} 

.header {
    background-image: url(assets/a.jpg);
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 80vh;
    display:flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.titulo {
    position: absolute;
    text-align: center;
    top: 150px;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #ffffff21;
}