body {
    background-color: rgb(233, 217, 202);
}

.titulo {
    color: brown;
    padding: 20px;
    text-align: center;
    font-size: 30px;
}

h2{
    font-size: 30px;
    color: blue;
}

.texto{
    color: brown;
    font-size: 20px;
}